{% extends 'layout.html' %}

<!-- Main content -->
{%block content %}
<header class="hero">
  <div class="container hero__content">
    <h1>Nigeria Association of Computing Students (NACOS)</h1>
    <h2>Federal University Lokoja</h2>
    <p class="hero__subtext">
      We are Students IT Professionals in almost all tertiary institutions in
      Nigeria. We Develop; We Create; We Build Capacity. By joining the
      association, students grow their knowledge in a peer-to-peer learning
      environment.
    </p>
    <a href="{{url_for('web.join')}}" class="cta">Join</a>
  </div>
</header>
{%endblock %}
