/* Hero Section */

.hero {
  min-height: 60vh;
  background-image: url("/static/images/home_hero_bg.webp");
  background-color: rgba(66, 134, 244, 0.9);
  background-repeat: no-repeat;
  background-position: top 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: inherit;
  align-items: center;
  text-align: center;
}

.hero__subtext {
  max-width: 700px;
  width: 75%;
}

.cta {
  margin-top: 1rem;
}

.logo {
  height: 60px;
  width: 60px;
}

.navbar {
  padding: 1rem 0;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__nav-item {
  padding: 0.75rem 1rem;
}

.form-container {
  max-width: 400px;
  margin: 3rem auto;
}

.form_input {
  width: 100%;
  margin-bottom: 1rem;
}

.form_input input {
  width: 100%;
  padding: 0.75rem;
}

.btn {
  height: 40px;
  background-color: #189e59;
  color: #fff;
  border: none;
}
